<!DOCTYPE html>
<html>
  <head>
    <title>Home | Sample App</title>
  </head>
  
  <body>
    <h1>Sample App</h1>
    <p>
      I'm just checking out what kind of stuff I can do on RoR. Find me at
      <a href = "http://www.caiocarnauba.me">My website!</a>
    </p>
  </body>
</html>

